---
# yamllint disable rule:line-length
- name: Configure zone '{{ powerdns_zone_name }}'
  community.postgresql.postgresql_query:
    login_host: "{{ powerdns_zone_database_host }}"
    login_user: "{{ powerdns_zone_database_user }}"
    login_password: "{{ powerdns_zone_database_password }}"
    db: "{{ powerdns_zone_database_name }}"
    query: >-
      INSERT INTO domains (name, {{ 'master,' if powerdns_zone_master_ip else '' }} type, account)
      VALUES ( '{{ powerdns_zone_name }}', {{ "'" + powerdns_zone_master_ip + "'," if powerdns_zone_master_ip else '' }} '{{ powerdns_zone_type }}', '{{ powerdns_zone_account }}' )
      ON CONFLICT ( name )
      DO UPDATE SET "type" = '{{ powerdns_zone_type }}', "account" = '{{ powerdns_zone_account }}'
      WHERE domains.name = '{{ powerdns_zone_name }}' and
        (domains.type != '{{ powerdns_zone_type }}'
        or domains.account != '{{ powerdns_zone_account }}');
      SELECT * FROM domains WHERE name = '{{ powerdns_zone_name }}';
  when: powerdns_zone_database_type == 'postgres'
  register: zone_upsert_result

  # yamllint enable rule:line-length
- name: Extract internal domain_id for zone
  ansible.builtin.set_fact:
    zone_domain_id: "{{ zone_upsert_result.query_result[0].id }}"

- name: Remove unique index (domain_id, kind) on domainmetadata table
  community.postgresql.postgresql_idx:
    login_host: "{{ powerdns_zone_database_host }}"
    login_user: "{{ powerdns_zone_database_user }}"
    login_password: "{{ powerdns_zone_database_password }}"
    db: "{{ powerdns_zone_database_name }}"
    name: domainmetadata_domain_kind_uniq
    state: absent
  when: powerdns_zone_database_type == 'postgres'

- name: Configure zone metadata for '{{ powerdns_zone_name }}'
  community.postgresql.postgresql_query:
    login_host: "{{ powerdns_zone_database_host }}"
    login_user: "{{ powerdns_zone_database_user }}"
    login_password: "{{ powerdns_zone_database_password }}"
    db: "{{ powerdns_zone_database_name }}"
    query: >-
      WITH new(d, k, v) AS (
        SELECT %s::bigint d, key k, a.value v FROM json_each(%s::json)
        LEFT JOIN json_array_elements_text(CASE json_typeof(value) WHEN 'array' THEN value WHEN 'null' THEN json_array() ELSE json_array(value) END) a ON true
      )
      MERGE INTO domainmetadata USING new ON (domain_id, kind, content) = (d, k, v)
      WHEN NOT MATCHED THEN INSERT (domain_id, kind, content) VALUES (d, k, v)
      WHEN NOT MATCHED BY SOURCE AND EXISTS (SELECT 1 FROM new WHERE (d, k) = (domain_id, kind)) THEN DELETE;
    positional_args:
      - "{{ zone_domain_id }}"
      - "{{ powerdns_zone_metadata | to_json }}"
  when: powerdns_zone_database_type == 'postgres'

- name: Check if SOA record for zone '{{ powerdns_zone_name }}' exists
  community.postgresql.postgresql_query:
    login_host: "{{ powerdns_zone_database_host }}"
    login_user: "{{ powerdns_zone_database_user }}"
    login_password: "{{ powerdns_zone_database_password }}"
    db: "{{ powerdns_zone_database_name }}"
    query: >-
      SELECT * FROM records
      WHERE records.domain_id = '{{ zone_domain_id }}'
        and records.name = '{{ powerdns_zone_name }}'
        and records.type = 'SOA';
  changed_when: false
  register: zone_records_type_soa

- name: Configure SOA record for zone '{{ powerdns_zone_name }}'
  community.postgresql.postgresql_query:
    login_host: "{{ powerdns_zone_database_host }}"
    login_user: "{{ powerdns_zone_database_user }}"
    login_password: "{{ powerdns_zone_database_password }}"
    db: "{{ powerdns_zone_database_name }}"
    query: >-
      INSERT INTO records (domain_id, name, type, content, ttl, prio, disabled, auth)
      VALUES ( '{{ zone_domain_id }}', '{{ powerdns_zone_name }}', 'SOA', '{{ powerdns_zone_soa_content }}', 3600, 0, false, true)
  when: powerdns_zone_database_type == 'postgres' and zone_records_type_soa.rowcount|int == 0
